package $fxml.packageName;

import java.net.URL;
import java.util.ResourceBundle;

import javafx.fxml.FXML;
import javafx.fxml.Initializable;
#foreach($import in $fxml.imports)
import $import;
#end

public class $fxml.className implements Initializable{

#foreach($entry in $fxml.fields.entrySet())
  @FXML
  $entry.value $entry.key;
  
#end  
  @Override
  public void initialize(URL location, ResourceBundle resources) {
    // TODO
  }

#foreach($method in $fxml.methods)
  @FXML
  private void $method(){
  	// TODO
  }
#end

}
